.menu {
	display: flex;
	text-align: center;
	flex-direction: column;
	gap: 20px;
	padding-left: 10px;
	margin: 0;

	&__large {
		width: 100%;
	}
	&__padding {
		padding-top: 20px;
	}
}
.menu__item {
	background: $white-color;
	border-radius: 16px;
	margin-bottom: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;
	cursor: pointer;
	display: flex;

	&__price {
		display: flex;
		align-items: center;
		padding: 20px;
	}

	&:hover {
		.menu__item__checkmark {
			width: 75px;
		}
		.menu__item__checkmark-icon {
			transform: rotate(0deg);
		}
	}

	.menu__item__body {
		width: 100%;
		padding: 15px;
		overflow: hidden;
		display: flex;
		flex-direction: column;

		.menu__item__content,
		.menu__item__heading {
			margin: 0;
			font-size: 15px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		.menu__item__heading {
			font-size: 17px;
		}
	}

	.menu__item__checkmark {
		width: 0px;
		background: $tertiary-color;
		transition: width 1s;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	.menu__item__checkmark-icon {
		transform: rotate(360deg);
		transition: transform 1s;
		color: $white-color;
	}
}
